@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Add these styles to your globals.css */

:root {
    --text-font: 'Noto Sans', system-ui, sans-serif;
    --heading-font: 'Libre Baskerville', Georgia, serif;
    --button-primary: #1C73E7;
}

body {
    font-family: var(--text-font);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
}